{{ $recent_posts_num := (.Site.Params.widgets.recentPostsNum | default 10) -}}
{{ $posts_section := .Site.Params.contentTypeName | default (slice "posts") -}}

<div class="sidebar1 widgets columns-1">
    {{ partial "sidebar_top.html" }}
    <aside class="widget widget_categories">
        <h2>{{ T "categories_title" }}</h2>
        <ul class="widget__list">
            {{- if .Site.Taxonomies.categories }}
            {{- range $name, $items := .Site.Taxonomies.categories -}}
            {{- if not (strings.HasPrefix $name "_") }}
            <li class="cat-item cat-item-2">
                <a href="{{- .Page.Permalink -}}">{{ .Page.Title }} ({{ $items.Count }})</a>
            </li>
            {{- end }}
            {{- end }}
            {{- else }}
            <li><a>-</a></li>
            {{- end }}
        </ul>
    </aside>
    <aside class="widget widget_tag_cloud">
        <h2>{{ T "tags_title" }}</h2>
        {{- if .Site.Taxonomies.tags }}
        <div class="tagcloud">
            {{- range $name, $items := .Site.Taxonomies.tags -}}
            {{ if not (strings.HasPrefix $name "_") }}
            <a class="tag-cloud-link" href="{{- .Page.Permalink -}}" title="{{ $name }}" style="font-size: 12pt; white-space: nowrap">{{ .Page.Title }} ({{ $items.Count }})</a>&emsp;
            {{- end }}
            {{- end }}
        </div>
        {{- else }}
        <li><a>-</a></li>
        {{- end }}
    </aside>
    <aside class="widget widget_recent_entries">
        <h2>{{ T "recent_posts_title" }}</h2>
        {{ partial "list_posts.html" (dict "page" . "num" $recent_posts_num "requireDate" true) }}
    </aside>
    <aside class="widget widget_archive">
        <h2>{{ T "archives_title" }}</h2>
        <ul>
            {{- if .Site.Taxonomies.archives }}
            {{- range $name, $items := .Site.Taxonomies.archives -}}
            <li><a href="{{- .Page.Permalink -}}">{{ .Page.Title }} ({{ $items.Count }})</a></li>
            {{- end }}
            {{- else }}
            <li><a>-</a></li>
            {{- end }}
        </ul>
    </aside>
</div>