html, body {
  height: 100vh;
}

.wrapper {
  max-width: 1366px;
  min-height: 100%;
  display: flex;
  flex-flow: column nowrap;
}

.content {
  display: flex;
  flex-flow: row nowrap;
  flex-grow: 1;
}

main {
  width: calc(75% - 2px);
  flex-grow: 1;
}

.sidebar1 {
  width: 25%;
}

.sidebar1 aside ul {
  padding-left: 0;
  list-style-type: none;
}

.document-footer {
  margin: 0;
}

.more-link:after {
  margin-left: 5px;
}

.banner li > a.has-children:after {
  content: ''
}

.banner button.hamburger {
  display: none;
}

.banner nav {
  display: flex !important;
  flex-flow: row nowrap;
  justify-content: space-between;
}

@media only screen and (max-width: 756px) {
  main,
  .sidebar1,
  .sidebar2,
  .sidebar3 {
    width: 100%
  }
  .banner nav ul {
    display: none;
  }
  .banner nav.is-open ul {
    display: block;
  }
  .banner nav.is-open ul li {
    float: none;
    position: normal;
  }
  .banner button.hamburger {
    display: block;
  }
}

nav.pagination .current {
  color: #000000;
}

.post-content h2 {
  border-left: 6px solid #ff6347;
  border-bottom: 1px solid #d1d1d1;
  padding-left: 4px;

}

.post-content h3 {
  border-left: 4px solid #4169e1;
  border-bottom: 1px solid #d1d1d1;
  padding-left: 6px;
}

.post-content h4 {
  padding-left: 0px;
}

div.breadcrumbs {
  font-size: 80%;
  padding: 20px 0 0 20px;
  margin: 0 0 -10px 0;
}

th,
td {
  padding-top: 0.1rem;
  padding-right: 0.1rem;
  padding-bottom: 0.1rem;
  padding-left: 0.1rem;
}

h1 {
  font-size: 1.5em;
}

iframe {
  vertical-align: bottom;
}

@media screen and (max-width: 40em) {
  div .nav-previous {
  display: none;
}
  div .nav-next {
  display: none;
}
}
